# MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# SERVER
ALLOWED_ORIGIN=

# WEB
VITE_API_URL=
VITE_MINIO_ENDPOINT=
VITE_MINIO_BUCKET=

# MINIO
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# MINIO DATA
MINIO_DATA_PATH=

#BOT_TELE
TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=