# Telegram bot notification settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_CHAT_ID=

DATABASE_URL=

JWT_SECRET=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_PUBLIC_URL=
MINIO_USE_SSL=
MINIO_BUCKET=
